* {
    all: unset;
    font-family: "Input Mono";
    font-size: 8pt;
}

.cp-main-box {
    background-color: black;
    border-radius: 6px;
    color: white;
    padding: 20px;
    border: 1px solid #444;
}

scale through  {
    border: 1px solid #444;
    color: blue;
    background-color: aqua;
    min-height: 20px;
}

scale highlight  {
    border: 1px solid white;
    border-radius: 8px;
    background-color: white;
    min-height: 30px;
}

.cp-main-box overlay label {
    color: black;
}

calender {
    color: #bfc9db;
}

calendar:selected {
    color: red;
}

calendar.header {
    color: #a1bdce;
    font-weight: bold;
}

calendar.button {
    color: #c114f5;
}

calendar.highlight {
    color: #0687d7;
    font-weight: bold;
}

calendar:indeterminate {
    color: #344;
}
