.bar {
    font-family: "Input Mono";
    font-size: 8pt;
    background-color: black;
    color: white;
    padding: 0 10px;
    border-bottom: 1px solid #444;
    opacity: 0.9;
}

tooltip.background {
    background-color: #0f0f17;
    font-family: "JetBrainsMono Nerd Font Mono";
    font-size: 8pt;
}

box.workspaces {
    all: unset;
    /* background-color: aqua; */
}

box.workspaces button {
    all: unset;
    /* background-color: red; */
    padding: 0px 12px;
}

box.workspaces button.workspace-active {
    background-color: #444;
    /* padding: 0px 8px; */
}

button.control-panel-button {
    /* background-color: yellow; */
    padding: 0px 8px;
}

.bat {
    color: #e0b089;
    background-color: #38384d;
    border-radius: 1px;
    margin: 0 8px;
}

.cpu {
    color: #e0b089;
    background-color: #38384d;
    border-radius: 1px;
    margin: 0 8px;
}

.mem {
    color: #e0b089;
    background-color: #38384d;
    border-radius: 1px;
    margin: 0 8px;
}

.systray {
    /* background-color: blue; */
    padding: 0px 8px;
}

.current-time {
    padding: 0px 8px;
}
