* {
    border: none;
    border-radius: 4px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #fff;
}

#workspaces,
#window,
#tray,
#clock {
    background: #1e1e2e;
    opacity: 0.8;
    margin-top: 10px;
    border: 1px solid #333;
}

#workspaces {
    background: #1e1e2e;
    margin-left: 10px;
    padding: 0px 6px;
}

#workspaces button {
    color: #666;
    border-radius: 0px;
    margin: 4px 2px;
}

#workspaces button:hover {
    color: #1e1e2e;
    background: #ffffff;
    box-shadow: inherit;
    text-shadow: inherit;
    transition: none;
    border-radius: 40px;
}

#workspaces button.active {
    color: #1e1e2e;
    background: #ffffff;
    border-radius: 40px;
}

#workspaces button.active:hover {
    color: #1e1e2e;
    background: #ffffff;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
}

#window {
    border-radius: 4px;
    color: #fff;
    padding: 0px 10px;
}

#tray {
    margin-right: 10px;
    padding: 0px 10px;
}

#clock {
    margin-right: 10px;
    padding: 0px 10px;
}
